head,body
{
	width: 100%;
	margin:0;
	padding:0;
	-webkit-font-smoothing: antialiased;
}
#header
{
    position: relative;
    width: 100%;
    height: 75vh;
    height: 500px;
    background: url(Assets/mountain.jpg) center;
    background-size: cover;
    box-shadow: inset 0 0 0 500px rgba(49,120,115,.7);
}
#nav
{
    position: fixed;
    width: 100%;
    /*background-color: #317873;*/
    z-index: 100;
}
#nav a
{
    color: #eee;
    font-family: 'Roboto', sans-serif;
}
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #317873;*/
    margin-right: 2%;
    float: right;
}
li {
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

/* Change the link color to #111 (black) on hover */
li a:hover,
li a.active {
    color: #a0d6b4;
    text-decoration: underline;
}
#headContainer
{
    position: absolute;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    bottom: 80px;
}

#picture
{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #eee;
    margin: 0 auto;
    border: solid;
    border-width: 8px;
    border-color: #a0d6b4;
    background-image: url(Assets/Glycepic.jpg);
    background-size: cover;
}
#headText
{
    text-align: center;
    color: #eee;
    font-family: 'Vollkorn', serif;
    font-size: 1.25em;
}
#headText h1, #headText h5
{
    margin: 5px 0;
}
.social
{
    text-align: center;
    margin-top: 10px;
}
.social img
{
	width: 35px;
	height: 35px;
	margin: 0 10px;
	background-color: #317873; /*#4d4d4d*/
	border-radius: 50%;
}
.social img:hover
{
	transition: box-shadow .3s ease-in-out;
	box-shadow: 0 0 0 5px #a0d6b4;
	
}
#pointer
{
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: #eee;
    /*background-color: #a0d6b4;*/
    background: #317873 url(Assets/Scroll_Down.png) no-repeat center;
    background-size: 70%;
    bottom: -50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: bold;
    font-size: 10em;
    text-align: center;
}
#pointer img
{
    max-height:100%; 
    max-width:100%;
}
.divider
{
    display: table;
    height: 300px;
    width: 100%;
    margin-top: 100px;
    font-size: 1.6em;
    color: white; /*#a0d6b4;*/
    font-family: 'Vollkorn', serif;
    box-shadow: inset 0 0 0 500px rgba(49,120,115,.7);
    /*box-shadow: inset 0 0 0 500px rgba(120,49,54,.5);*/
} 
.divider h1
{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#expDivider
{
    background: url(Assets/aram.jpg) center;
    background-size: cover;
}
#portDivider
{
    background: url(Assets/League-of-Legends.jpg) center;
    background-size: cover;
}

body a
{
    color: #333;
    text-decoration: none;
}
body a:hover
{
    color: #a0d6b4;
    text-decoration: underline;
    transition: all .3s;
}
#bio
{
    text-align: center;
    margin: 150px auto 0 auto;
}
.bioInfo
{
    width: 225px;
    display: inline-block;
    vertical-align:top;
    margin: 0 25px;
}

.bioPic
{
    display: block;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    border: solid;
    border-width: 4px;
    border-color: #a0d6b4;
    background-size: cover;
}
#university .bioPic
{
    background-image: url(Assets/UofA.jpg);
}
#about .bioPic
{
    background-image: url(Assets/typewriter.jpg);
}
#skills .bioPic
{
    background-image: url(Assets/gears.jpg);
}
.bioText
{
    width: 225px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    padding: 5px 10px;
    line-height: 20px;
}
#experience
{
    width: 97%;
    margin: 0px auto 0px auto;
    position: relative;
}
#job1, #job2, #job3
{
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding-top: 75px;
}
.jobpic, .jobtext
{
    display: block;
    width: 98%;
    margin: 0 auto;
}
.jobpic
{
    text-align: center;
    max-width: 300px;
    margin: 15px auto;
}
.jobtext
{
    max-width: 475px;
    margin: 0 auto;
    color: #333;
    padding: 10px 0;
    text-align: left;
}
.jobpic img
{
    width: 300px;
    text-align: center;
}
.jobtext h2, .jobtext h3, .jobtext h4
{
    font-family: 'Vollkorn', serif;
    font-size: 700;
    margin: 0;
    text-align: left;
}
.jobtext h4
{
    font-size: 400;
}
.jobtext ul {
    list-style-position: outside;
    padding-left: 15px;
}
.jobtext li
{
    font-family: 'Roboto', sans-serif;
    margin: 10px 0;
    list-style: none;
}

#portfolio
{
    max-width: 700px;
    margin: 75px auto;
}
#portfolio h2
{
    font-family: 'Vollkorn', serif;
    font-size: 700;
    color: #333;
    text-align: center;
}

#portfolio p
{
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #333;
    width: 80%;
    margin: 0 auto;
    line-height: normal;
    line-height: 20px;
}
.porttext img
{
    display: block;
    height: 150px;
    width: 150px;
    margin: 0 auto 15px auto;
    border-radius: 50%;
    border: solid;
    border-width: 4px;
    border-color: #a0d6b4;
}

#port1, #port2, #port3
{
    margin: 75px 0;
}
footer
{
    width: 100%;
    height: 150px;
    background-color: #317873;
}
#footSocial
{
    padding: 25px 0;
}


